dist/
node_modules/
public/src/nodebb.min.js
public/css/*.css
/public/templates
/public/uploads
/test/uploads
/public/stylesheet.css
/public/admin.css
/public/nodebb.min.js
/public/nodebb.min.js.map
/public/acp.min.js
/public/acp.min.js.map
/public/installer.css
/public/installer.min.js
/public/bootstrap.min.css
/public/logo.png
.idea/
.vscode/
coverage
.nyc_output
test/files/normalise.jpg.png
test/files/normalise-resized.jpg
/package.json
theme/*.css
!theme/less/bootstrap-flipped.css
theme/node_modules/
